<%- include('../overall_header'); %>
<%- include('nav'); %>

<form class="form-inline" method="POST">
  <div class="form-group">
    <input type="text" id="shorthand" name="shorthand" spellcheck="false" placeholder="Shorthand" required>
  </div>
  <div class="form-group">
    <input type="submit" value="Add">
  </div>
</form>

<div class="responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="25%">Shorthand</th>
        <th width="25%">Allow creating new</th>
        <th width="25%">Arenas</th>
        <th class="no-sort" width="25%">API Key</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(creators).forEach((k) => { %>
      <% const v = creators[k]; %>
        <tr>
          <td><a href="/admin/creators/<%= v.shorthand %>"><%= v.shorthand %></a></td>
          <td><%= v.allow_creating_new ? 'Yes' : 'No' %></td>
          <td><%= v.maps.length %></td>
          <td><code><%= k %></code></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
