<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="box">
  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Machine type</td>
          <td><%= machine %></td>
        </tr>
        <tr>
          <td>Operating system</td>
          <td><%= type %> <%= release %></td>
        </tr>
        <tr>
          <td>Host name</td>
          <td><%= hostname %></td>
        </tr>
        <tr>
          <td>System uptime</td>
          <td><%= uptime %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Node.js version</td>
          <td><%= node %></td>
        </tr>
        <tr>
          <td>Node.js uptime</td>
          <td><%= appuptime %></td>
        </tr>
        <tr>
          <td>Load average</td>
          <td><%= loadavg.map(v => v.toFixed(2)).join(' ') %></td>
        </tr>
        <tr>
          <td>RAM usage</td>
          <td><%= Math.floor(usedmem / (1024 * 1024)) %> / <%= Math.floor(totalmem / (1024 * 1024)) %> MB</td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>

<% if (accessLogs && accessLogs.length > 0) { %>
<div class="responsive">
  <table>
    <thead>
      <tr>
        <th width="25%">IP address</th>
        <th width="25%">Request</th>
        <th width="25%">User-Agent</th>
        <th width="25%">Time ago</th>
      </tr>
    </thead>
    <tbody>
      <% accessLogs.forEach(log => { %>
        <tr>
          <td><a href="https://db-ip.com/<%= log.ip %>" target="_blank"><%= log.ip %></a></td>
          <td>
            <% if (log.request.length > 30) { %>
              <abbr title="<%= log.request %>"><%= log.request.substring(0, 30) + '...' %></abbr>
            <% } else { %>
              <%= log.request %>
            <% } %>
          </td>
          <td>
            <% if (log.userAgent.length > 30) { %>
              <abbr title="<%= log.userAgent %>"><%= log.userAgent.substring(0, 30) + '...' %></abbr>
            <% } else { %>
              <%= log.userAgent %>
            <% } %>
          </td>          
          <td><%= log.timestamp %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<% } %>

<%- include('../overall_footer'); %>
