<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="box">
  <div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th width="50%">Key</th>
            <th width="50%">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Machine type</td>
            <td><%= machine %></td>
          </tr>
          <tr>
            <td>Operating system</td>
            <td><%= type %> <%= release %></td>
          </tr>
          <tr>
            <td>Host name</td>
            <td><%= hostname %></td>
          </tr>
          <tr>
            <td>System uptime</td>
            <td><%= uptime %></td>
          </tr>
          <tr>
            <td>Load avg</td>
            <td><%= loadavg.map(v => v.toFixed(2)).join(' ') %></td>
          </tr>
          <tr>
            <td>RAM usage</td>
            <td><%= Math.floor(usedmem / (1024 * 1024)) %> / <%= Math.floor(totalmem / (1024 * 1024)) %> MB</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th width="50%">Key</th>
            <th width="50%">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Node.js version</td>
            <td><%= node %></td>
          </tr>
          <tr>
            <td>Node.js uptime</td>
            <td><%= appuptime %></td>
          </tr>
          <tr>
            <td>RSS</td>
            <td><%= (memoryUsage.rss / (1024 * 1024)).toFixed(2) %> MB</td>
          </tr>
          <tr>
            <td>Heap Total</td>
            <td><%= (memoryUsage.heapTotal / (1024 * 1024)).toFixed(2) %> MB</td>
          </tr>
          <tr>
            <td>Heap Used</td>
            <td><%= (memoryUsage.heapUsed / (1024 * 1024)).toFixed(2) %> MB</td>
          </tr>
          <tr>
            <td>External</td>
            <td><%= (memoryUsage.external / (1024 * 1024)).toFixed(2) %> MB</td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../overall_footer'); %>
