<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="box">
  <div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th width="50%">Key</th>
            <th width="50%">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Machine type</th>
            <td><%= machine %></td>
          </tr>
          <tr>
            <th>Operating system</th>
            <td><%= type %> <%= release %></td>
          </tr>
          <tr>
            <th>Host name</th>
            <td><%= hostname %></td>
          </tr>
          <tr>
            <th>System uptime</th>
            <td><%= uptime %></td>
          </tr>
          <tr>
            <th>Load avg</th>
            <td><%= loadavg.map(v => v.toFixed(2)).join(' ') %></td>
          </tr>
          <tr>
            <th>RAM usage</th>
            <td><%= Math.floor(usedmem / (1024 * 1024)) %>/<%= Math.floor(totalmem / (1024 * 1024)) %> MB</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th width="50%">Key</th>
            <th width="50%">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Node.js version</th>
            <td><%= node %></td>
          </tr>
          <tr>
            <th>Node.js uptime</th>
            <td><%= appuptime %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../overall_footer'); %>
