<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="box">
  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th colspan="2"><%= hostname %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="50%">Load average</td>
          <td width="50%"><%= loadavg.map(v => v.toFixed(2)).join(' ') %></td>
        </tr>
        <tr>
          <td>RAM usage</td>
          <td>
            <%= Math.floor(usedmem / (1024 * 1024)) %> MB (<%= Math.floor((usedmem / totalmem) * 100) %>%)
          </td>
        </tr>
        <tr>
          <td>Uptime</td>
          <td><%= uptime %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th colspan="2"><%= runtime %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="50%">Version</td>
          <td width="50%"><%= appversion %></td>
        </tr>
        <tr>
          <td>RAM usage</td>
          <td><%= Math.floor(appusedmem / (1024 * 1024)) %> MB</td>
        </tr>
        <tr>
          <td>Uptime</td>
          <td><%= appuptime %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if (accessLogs && accessLogs.length > 0) { %>
<div class="responsive">
  <table>
    <thead>
      <tr>
        <th>IP address</th>
        <th>Request</th>
        <th>User-Agent</th>
        <th>Time ago</th>
      </tr>
    </thead>
    <tbody>
      <% accessLogs.forEach(log => { %>
        <tr>
          <td><a href="https://db-ip.com/<%= log.ip %>" target="_blank"><%= log.ip %></a></td>
          <td>
            <% if (log.request.length > 30) { %>
              <abbr title="<%= log.request %>"><%= log.request.substring(0, 30) + '...' %></abbr>
            <% } else { %>
              <%= log.request %>
            <% } %>
          </td>
          <td>
            <% if (log.userAgent.length > 30) { %>
              <abbr title="<%= log.userAgent %>"><%= log.userAgent.substring(0, 30) + '...' %></abbr>
            <% } else { %>
              <%= log.userAgent %>
            <% } %>
          </td>          
          <td><%= log.timestamp %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<% } %>

<%- include('../overall_footer'); %>
