<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>User</th>
        <th>IP Address</th>
        <th>Last Login</th>
        <th>User Agent</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(users).forEach((k) => { %>
      <% const v = users[k]; %>
      <tr>
        <td><a href="https://steamcommunity.com/profiles/<%= k %>" target="_blank"><%= v.name %></a></td>
        <td><a href="https://db-ip.com/<%= v.ip %>" target="_blank"><%= v.ip %></a></td>
        <td data-sort="<%= v.lastLogin %>"><%= v.lastLoginAgo %></td>
        <td><%= v.userAgent %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
