<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="25%">IP Address</th>
        <th width="25%">Steam ID</th>
        <th width="25%">Steam Name</th>
        <th width="25%">Last Login</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(users).forEach((k) => { %>
      <% const v = users[k]; %>
      <tr>
        <td><a href="https://db-ip.com/<%= v.ip %>" target="_blank"><%= v.ip %></a></td>
        <td><a href="https://steamcommunity.com/profiles/<%= k %>" target="_blank"><%= k %></a></td>
        <td><%= v.name %></td>
        <td data-sort="<%= v.lastLogin %>"><%= v.lastLoginAgo %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
