<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>IP Address</th>
        <th>Last Seen</th>
        <th>User Agent</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(visitors).forEach((k) => { %>
      <% const v = visitors[k]; %>
      <tr>
        <td><a href="https://db-ip.com/<%= v.ip %>" target="_blank"><%= v.ip %></a></td>
        <td data-sort="<%= v.lastSeen %>"><%= v.lastSeenAgo %></td>
        <td><%= v.userAgent %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
