<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="25%">IP address</th>
        <th width="25%">User agent</th>
        <th width="25%">Last visited URL</th>
        <th width="25%">Last seen</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(visitors).forEach((k) => { %>
      <% const v = visitors[k]; %>
      <% const lastVisitedUrl = v.lastUrl ? v.lastUrl : 'N/A'; %>
      <tr>
        <td><a href="https://db-ip.com/<%= k %>" target="_blank"><%= k %></a></td>
        <td title="<%= v.userAgent.length > 30 ? v.userAgent : '' %>"><%= v.userAgent.length > 30 ? v.userAgent.substring(0, 30) + '...' : v.userAgent %></td>
        <td>
          <a href="<%= lastVisitedUrl %>" target="_blank" title="<%= lastVisitedUrl.length > 30 ? lastVisitedUrl : '' %>">
            <%= lastVisitedUrl.length > 30 ? lastVisitedUrl.substring(0, 30) + '...' : lastVisitedUrl %>
          </a>
        </td>
        <td data-sort="<%= v.lastSeen %>"><%= v.lastSeenAgo %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
