<%- include('../overall_header'); %>
<%- include('nav'); %>

<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="25%">IP Address</th>
        <th width="50%">User Agent</th>
        <th width="25%">Last Seen</th>
      </tr>
    </thead>
    <tbody>
      <% Object.keys(visitors).forEach((k) => { %>
      <% const v = visitors[k]; %>
      <tr>
        <td><a href="https://db-ip.com/<%= v.ip %>" target="_blank"><%= v.ip %></a></td>
        <td title="<%= v.userAgent.length > 70 ? v.userAgent : '' %>"><%= v.userAgent.length > 70 ? v.userAgent.substring(0, 70) + '...' : v.userAgent %></td>
        <td data-sort="<%= v.lastSeen %>"><%= v.lastSeenAgo %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../overall_footer'); %>
