<%- include('overall_header'); %>

<h1>Community Arenas</h1>
<div class="arenas">
<% Object.values(arenas).forEach(arena => { %>
  <a href="/arenas/<%= arena.name %>">
    <img class="arena_miniature" src="/arenas/<%= arena.name %>/miniature.png" alt="<%= arena.name %>">
    <div class="arena_name"><%= arena.name %></div>
    <div class="arena_author"><%= arena.author %></div>
  </a>
<% }); %>  
</div>

<%- include('overall_footer'); %>
