<%- include('overall_header'); %>

<h1>Community Arenas</h1>
<div class="arenas">
<% arenas.forEach(v => { %>
  <a href="/arenas/<%= v.name %>">
    <img src="/arenas/<%= v.name %>/miniature.png?t=<%= v.ts %>" alt="<%= v.name %>">
    <div class="arena_name"><%= v.name %></div>
    <div class="arena_author"><%= v.author %></div>
  </a>
<% }); %>
</div>

<%- include('overall_footer'); %>