<%- include('overall_header'); %>

<h1><%= page %></h1>
<div class="btn-group">
  <div class="btn"><a href="/arenas/<%= prev %>"><span><i class="fa-solid fa-arrow-left"></i></span><span>Previous arena</span></a></div>
  <div class="btn"><a href="/arenas/<%= next %>"><span>Next arena</span><span><i class="fa-solid fa-arrow-right"></i></span></a></div>
</div>

<div class="arena">
  <div class="details">
    <dl class="info-list">
      <div class="info-pair">
        <dt><i class="fa-solid fa-user"></i>Author</dt>
        <dd><%= arena.author %></dd>
      </div>
      <div class="info-pair">
        <dt><i class="fa-solid fa-weight-hanging"></i>Size</dt>
        <dd><%= arena.size %></dd>
      </div>
      <div class="info-pair">
        <dt><i class="fa-solid fa-calendar"></i>Updated</dt>
        <dd><%= arena.updated %></dd>
      </div>
    </dl>
    <dl>
      <dt><i class="fa-solid fa-align-center"></i>Description</dt>
      <% const short = arena.short_description; %>
      <% const full = arena.full_description; %>
      <% if (short !== 'N/A' && full !== 'N/A') { %>
        <dd><p><%= short %></p><p><%= full %></p></dd>
      <% } else if (short !== 'N/A') { %>
        <dd><p><%= short %></p></dd>
      <% } else if (full !== 'N/A') { %>
        <dd><p><%= full %></p></dd>
      <% } else { %>
        <dd><p>N/A</p></dd>
      <% } %>
    </dl>
  </div>
  <div class="responsive"><img src="/arenas/<%= arena.name %>/miniature.png?t=<%= arena.ts %>" alt="<%= arena.name %>"></div>
</div>

<script>
document.onkeydown = function(e) {
  switch(e.key) {
    case "ArrowLeft":
      window.location.href = "/arenas/<%= prev %>";
      break;
    case "ArrowRight":
      window.location.href = "/arenas/<%= next %>";
      break;
    default: return;
  }
};
</script>

<%- include('overall_footer'); %>
