<%- include('overall_header'); %>

<h1><%= arena.name %></h1>
<div class="arena">
  <div class="details">
    <div class="btn-group">
      <div class="btn"><a href="/arenas/<%= prev %>"><span><i class="fa-solid fa-arrow-left"></i></span><span>Previous</span></a></div>
      <div class="btn"><a href="/arenas/<%= next %>"><span><i class="fa-solid fa-arrow-right"></i></span><span>Next</span></a></div>
    </div>
    <dl>
      <dt>Short description</dt>
      <dd><%= arena.short_description %></dd>
      <dt>Full description</dt>
      <dd><%= arena.full_description %></dd>
      <dt>Author</dt>
      <dd><%= arena.author %></dd>
      <dt>Updated</dt>
      <dd><%= arena.updated %></dd>
      <dt>Size</dt>
      <dd><%= arena.size %></dd>
    </dl>
  </div>
  <div class="miniature"><img src="/arenas/<%= arena.name %>/miniature.png" alt="<%= arena.name %>"></div>
</div>

<script>
document.onkeydown = function(e) {
  switch(e.which) {
    case 37:
    if (4326 > 0) {
      window.location.href = "/arenas/<%= prev %>";
    }
    break;
    case 39:
    if (4328 > 0) {
      window.location.href = "/arenas/<%= next %>";
    }
    break;
    default: return;
  }
  e.preventDefault();
};
</script>

<%- include('overall_footer'); %>
