<%- include('overall_header'); %>

<div class="parent">
  <div>
    <h1>Download</h1>
    <p><strong><a href="https://store.steampowered.com/app/2660970/Hypersomnia/" target="_blank">Play for free on Steam!</a></strong><br>Available for Windows, Linux, and MacOS. <strong>It's just 50 MB.</strong></p>
    <iframe src="https://store.steampowered.com/widget/2660970/" frameborder="0" width="646" height="190" style="border:0;overflow:hidden;width:100%"></iframe>
    <iframe src="https://steambase.io/embed/games/2660970/players" height="375" loading="lazy" style="margin-top:1em;border:0;width:100%"></iframe>
  </div>
  <div>
    <div class="panel">
      <p><strong>Don't have Steam? Just unzip & play!</strong></p>
      <div class="three">
        <a href="/builds/latest/Hypersomnia-for-Windows.zip" class="os">
          <img src="/assets/images/os/win.svg" alt="Windows">
          <span>Windows</span>
          <small>Download zip</small>
        </a>
        <a href="/builds/latest/Hypersomnia-for-MacOS.dmg" class="os">
          <img src="/assets/images/os/mac.svg" alt="macOS">
          <span>macOS</span>
          <small>Download dmg</small>
        </a>
        <a href="/builds/latest/Hypersomnia.AppImage" class="os">
        <img src="/assets/images/os/tux.svg" alt="Linux">
          <span>Linux</span>
          <small>Download AppImage</small>
        </a>
      </div>
      <p class="subname">Archives are <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/src/signing_keys.h" target="_blank">digitally signed</a>.<br>
      You can <a href="https://hypersomnia.xyz/builds/latest/" target="_blank">verify signatures</a>.</p>
    </div>
    <div class="panel">
      <p><strong>Latest Commits</strong></p>
      <ul class="none">
      <% Object.values(commits).forEach(v => { %>
        <li><a href="https://github.com/TeamHypersomnia/Hypersomnia/commit/<%= v.sha %>" target="_blank"><%= v.msg %><br><i class="subname"><%= v.date %></i></a></li>
      <% }); %>  
      </ul>
    </div>
  </div>
</div>

<%- include('overall_footer'); %>