<%- include('overall_header'); %>

<h1>Leaderboards</h1>
<div class="btn-group">
  <div class="btn"><a <% if (bomb_defusal) {%> class="active"<% } %>href="/leaderboards/bomb-defusal"><span>Bomb Defusal</span></a></div>
  <div class="btn"><a <% if (ffa) {%> class="active"<% } %>href="/leaderboards/ffa"><span>FFA</span></a></div>
</div>
<div class="table-responsive">
  <table class="sortable maxwidth">
    <thead>
      <tr>
        <th width="10%">Place</th>
        <th width="40%">Name</th>
        <th width="10%">MMR</th>
        <th width="10%">Mu</th>
        <th width="10%">Sigma</th>
        <th width="10%">Won #</th>
        <th width="10%">Lost #</th>
      </tr>
    </thead>
    <tbody>
      <% leaderboards.forEach((i, index) => { %>
        <tr>
          <td><%= index > 2 ? index + 1 : ['ðŸ†', 'ðŸ¥ˆ', 'ðŸ¥‰'][index] %></td>
          <td><a href="/user/<%= i.account_id %>"><img class="rank" src="//cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia@master/hypersomnia/content/gfx/necessary/<%= i.rankImg %>" alt="<%= i.rankName %>"><%= i.nickname %></a></td>
          <td><%= i.mmr.toFixed(2) %></td>
          <td><%= i.mu.toFixed(3) %></td>
          <td><%= i.sigma.toFixed(3) %></td>
          <td><%= i.matches_won %></td>
          <td><%= i.matches_lost %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('overall_footer'); %>
