<%- include('overall_header'); %>

<h1>Leaderboards</h1>
<div style="display: flex; justify-content: space-around;">

  <!-- TEAM Leaderboard Section -->
  <div>
    <h2 style="text-align: center;">BOMB DEFUSAL</h2>
    <div class="table-responsive">
      <table class="sortable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Nickname</th>
            <th>OpenSkill</th>
<!--
            <th>Mu</th>
            <th>Sigma</th>
-->
            <th>Won #</th>
            <th>Lost #</th>
          </tr>
        </thead>
        <tbody>
          <% leaderboards_team.forEach((i, index) => { %>
            <tr>
              <td><b><%= index + 1 %></b></td>
              <td>
                <%= index === 0 ? 'ðŸ†' : index === 1 ? 'ðŸ¥ˆ' : index === 2 ? 'ðŸ¥‰' : '' %>
                <a href="/user/<%= i.account_id %>">
                <%= i.nickname %>
                </a>
              </td>
              <td class="monospace-big"><%= i.mmr.toFixed(3) %></td>
<!--
              <td><%= i.mu.toFixed(3) %></td>
              <td><%= i.sigma.toFixed(3) %></td>
-->
              <td><%= i.matches_won %></td>
              <td><%= i.matches_lost %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- FFA Leaderboard Section -->
  <div>
    <h2 style="text-align: center;">FFA</h2>
    <div class="table-responsive">
      <table class="sortable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Nickname</th>
            <th>OpenSkill</th>
<!--
            <th>Mu</th>
            <th>Sigma</th>
-->
            <th>Won #</th>
            <th>Lost #</th>
          </tr>
        </thead>
        <tbody>
          <% leaderboards_ffa.forEach((i, index) => { %>
            <tr>
              <td><b><%= index + 1 %></b></td>
              <td>
                <%= index === 0 ? 'ðŸ†' : index === 1 ? 'ðŸ¥ˆ' : index === 2 ? 'ðŸ¥‰' : '' %>
                <a href="/user/<%= i.account_id %>">
                <%= i.nickname %>
                </a>
              </td>
              <td class="monospace-big"><%= i.mmr.toFixed(3) %></td>
<!--
              <td><%= i.mu.toFixed(3) %></td>
              <td><%= i.sigma.toFixed(3) %></td>
-->
              <td><%= i.matches_won %></td>
              <td><%= i.matches_lost %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<%- include('overall_footer'); %>
