<%- include('overall_header'); %>

<h1>Matches</h1>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="13%">ID</th>
        <th width="10%">Arena</th>
        <th class="no-sort" width="25%">Winning team</th>
        <th class="no-sort" width="4%">Score</th>
        <th class="no-sort" width="25%">Losing team</th>
        <th width="10%">Time ago</th>
        <th width="13%">Server</th>
      </tr>
    </thead>
    <tbody>
      <% matches.forEach(i => { %>
        <tr>
          <td><%= i.match_id %></td>
          <td><%= i.arena %></td>
          <td>
            <% i.winners.forEach(player => { %>
              <%- formatMMRDelta(player.mmr_delta, true) %>
              <a href="/user/<%= player.id %>">
                <%= player.nickname %>
              </a>
              <% if (i.winners.indexOf(player) < i.winners.length - 1) { %><br><% } %>
            <% }); %>
          </td>
          <% if (i.is_ffa) { %>
            <td><i>FFA</i></td>
            <% } else { %>
            <td><%= i.win_score %>:<%= i.lose_score %></td>
            <% } %>
          <td>
            <% i.losers.forEach(player => { %>
              <%- formatMMRDelta(player.mmr_delta, true) %>
              <a href="/user/<%= player.id %>">
                <%= player.nickname %>
              </a>
              <% if (i.losers.indexOf(player) < i.losers.length - 1) { %><br><% } %>
            <% }); %>
          </td>
          <td data-sort="<%= i.match_end_date %>"><%= i.time_ago %></td>
          <td>
          <%= i.server_id %>
          <% if (i.event_match_multiplier !== 1) { %>
          <b style="color: orange;">x<%= i.event_match_multiplier %></b>
          <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('overall_footer'); %>
