<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<% if (typeof arena !== 'undefined' && arena) { %><%= arena.short_description.replace(/\n/g, ' ') %><% } else { %>An online shooter with ridiculously fast dynamics. Challenge your friend to an intense duel, or gather two clans to fight a spectacular war.<% } %>">
  <meta name="keywords" content="hypersomnia, hypersomnia shooter, teamhypersomnia, open source shooter, free shooter, free 2d shooter, 2d topdown, 2d topdown shooter, topdown shooter, top-down shooter, pixelart, pixel art, pixel-art shooter, indie shooter, 2d shooter, online shooter, competitive shooter, competitive 2d">
  <meta property="og:image" content="https://hypersomnia.xyz/<% if (typeof arena !== 'undefined' && arena) { %>arenas/<%= arena.name %>/miniature.png<% } else { %>assets/images/hypersomnia3x4.png<% } %>">
  <meta property="og:image:type" content="image/png">
  <meta property="og:title" content="<% if (page === 'Index') { %>Free Multiplayer Top-Down Shooter<% } else { %><%= page %><% } %> - Hypersomnia">
  <meta property="og:description" content="<% if (typeof arena !== 'undefined' && arena) { %><%= arena.short_description.replace(/\n/g, ' ') %><% } else { %>An online shooter with ridiculously fast dynamics. Challenge your friend to an intense duel, or gather two clans to fight a spectacular war.<% } %>">
  <title><% if (page === 'Index') { %>Free Multiplayer Top-Down Shooter<% } else { %><%= page %><% } %> - Hypersomnia</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/4.1.0/inter.min.css">
  <link rel="stylesheet" href="/assets/styles/main.css?v=<%= version %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div class="container mininav">
    <span><a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank">Hypersomnia is free and <i class="fa fa-brands fa-github mr" aria-hidden="true"></i>open-source</a></span>
    <span class="right">
    <% if (!user) { %>
      <a href="/auth/steam" class="right steam" aria-label="Sign in with Steam">Sign in through <i class="fa fa-brands fa-steam mr" aria-hidden="true"></i>Steam</a>
    <% } else { %>
      <a href="/profile" class="right<% if(page == 'Profile'){ %> active<% } %>" aria-label="Profile">Signed in as <%= user.displayName %></a>
    <% } %>
    </span>
  </div>
  <div class="logo-center">
    <a href="/"><img height="104" class="responsive" src="/assets/images/menu_game_logo.png" alt="Hypersomnia Logo"></a>
  </div>
  </div>
  <nav>
    <div class="container flex">
      <a href="/"<% if(page == 'Index'){ %> class="active"<% } %> aria-label="Download">
        <span class="desktop"><i class="fa-solid fa-download"></i> Download</span><span class="mobile"><i class="fa-solid fa-download"></i></span>
      </a>
      <a href="/weapons"<% if(page == 'Weapons'){ %> class="active"<% } %> aria-label="Weapons">
        <span class="desktop">Weapons</span><span class="mobile"><i class="fa-solid fa-gun"></i></span>
      </a>
      <a href="/leaderboards"<% if(page == 'Leaderboards'){ %> class="active"<% } %> aria-label="Leaderboards">
        <span class="desktop">Leaderboards</span><span class="mobile"><i class="fa-solid fa-ranking-star"></i></span>
      </a>
      <a href="/matches"<% if(page == 'Matches'){ %> class="active"<% } %> aria-label="Matches">
        <span class="desktop">Matches</span><span class="mobile"><i class="fa-solid fa-users"></i></span>
      </a>
      <a href="/arenas"<% if(page == 'Arenas'){ %> class="active"<% } %> aria-label="Arenas">
        <span class="desktop">Arenas</span><span class="mobile"><i class="fa-solid fa-map"></i></span>
      </a>
      <a href="/servers"<% if(page == 'Servers'){ %> class="active"<% } %> aria-label="Servers">
        <span class="desktop">Servers</span><span class="mobile"><i class="fa-solid fa-server"></i></span>
      </a>
    </div>
  </nav>
  <div class="container">
    <% if(alert != ''){ %><div class="alert"><%- alert %></div><% } %>
    <article>