<%- include('overall_header'); %>

<h1>Profile</h1>
<% if (success) { %>
<p>Success! Go back to the game and press: <i class="fa-brands fa-discord"></i> Sign in with Discord</p>
<% } %>

<div class="btn-group">
  <% if (is_admin == true) { %>
  <div class="btn">
    <a href="/admin/system"><span>Admin</span></a>
  </div>
  <% } %>
  <% if (discordData) { %>
  <form class="btn" method="POST" action="/auth/discord/disconnect">
    <button type="submit" aria-label="Disconnect account">
      <i class="fa-brands fa-discord mr"></i>Disconnect account*
    </button>
  </form>
  <% } else { %>
  <form class="btn" method="GET" action="/auth/discord">
    <button type="submit" aria-label="Connect account">
      <i class="fa-brands fa-discord mr"></i>Connect account*
    </button>
  </form>
  <% } %>
  <form class="btn" method="POST" action="/logout">
    <button type="submit" aria-label="Logout">Logout</button>
  </form>
</div>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th width="50%">Key</th>
        <th width="50%">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Steam name</td>
        <td><%= user.displayName %></td>
      </tr>
      <tr>
        <td>Steam ID</td>
        <td><a href="https://steamcommunity.com/profiles/<%= user.id %>" target="_blank"><%= user.id %></a></td>
      </tr>
      <tr>
        <td>Discord</td>
        <td><% if (discordData) { %><%= discordData.username %><% } else { %>Not connected<% } %></td>
      </tr>
    </tbody>
  </table>
</div>
<small>*<% if (discordData) { %>After disconnecting, your Steam and Discord accounts will be separate again, with no loss of ranks or MMR.<% } else { %>Discord matches count towards your Steam account. No merging happens, and you can disconnect anytime without losing progress.<% } %></small>

<%- include('overall_footer'); %>
