<%- include('overall_header'); %>

<h2>Ranked Servers</h2>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Players</th>
        <th>Arena</th>
        <th>Game Mode</th>
        <th>Play on Steam</th>
        <th>Play in Browser</th>
      </tr>
    </thead>
    <tbody>
    <% Object.values(ranked_servers).forEach(v => { %>
      <tr>
        <td class="svname" data-sort="<%= v.name %>">
          <% if (v.is_ranked == true) { %>
            <span class="ranked">RANKED</span>
          <% } else { %>
            <span class="casual">CASUAL</span>
          <% } %>
          <a class="white" href="/servers/<%= v.site_displayed_address %>"><%= v.name %></a>
        </td>
        <td class="<%= v.num_online === 0 ? 'zeroplayers' : '' %>" data-sort="<%= v.num_online %>"><%= v.num_online %>/<%= v.slots %></td>
        <td><%= v.arena %></td>
        <td><%= v.game_mode %></td>
        <td><a href="steam://run/2660970//<%= v.site_displayed_address %>/"><i class="fa-brands fa-steam mr"></i>Play on Steam</a></td>
        <td><a href="https://hypersomnia.io/game/<%= v.browser_connect_string %>"><i class="fa-solid fa-right-to-bracket mr"></i>Play in Browser</a></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>

<h2>Casual Servers</h2>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Players</th>
        <th>Arena</th>
        <th>Game Mode</th>
        <th>Play on Steam</th>
        <th>Play in Browser</th>
      </tr>
    </thead>
    <tbody>
    <% Object.values(casual_servers).forEach(v => { %>
      <tr>
        <td class="svname" data-sort="<%= v.name %>">
          <% if (v.is_ranked == true) { %>
            <span class="ranked">RANKED</span>
          <% } else { %>
            <span class="casual">CASUAL</span>
          <% } %>
          <a class="white" href="/servers/<%= v.site_displayed_address %>"><%= v.name %></a>
        </td>
        <td class="<%= v.num_online === 0 ? 'zeroplayers' : '' %>" data-sort="<%= v.num_online %>"><%= v.num_online %>/<%= v.slots %></td>
        <td><%= v.arena %></td>
        <td><%= v.game_mode %></td>
        <td><a href="steam://run/2660970//<%= v.site_displayed_address %>/"><i class="fa-brands fa-steam mr"></i>Play on Steam</a></td>
        <td><a href="https://hypersomnia.io/game/<%= v.browser_connect_string %>"><i class="fa-solid fa-right-to-bracket mr"></i>Play in Browser</a></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>

<%- include('overall_footer'); %>
