<%- include('overall_header'); %>

<h1><%= sv.name %></h1>
<div class="box">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IP address</td>
          <td><code><%= sv.ip %></code></td>
        </tr>
        <tr>
          <td>Version</td>
          <td><%= sv.server_version %></td>
        </tr>
        <tr>
          <td>First appeared</td>
          <td><%= sv.time_hosted_ago %></td>
        </tr>
        <tr>
          <td>Last heartbeat</td>
          <td><%= sv.time_last_heartbeat_ago %></td>
        </tr>
        <tr>
          <td>Arena</td>
          <td><a href="/arenas/<%= sv.arena %>/"><%= sv.arena %></a></td>
        </tr>
        <tr>
          <td>Game mode</td>
          <td><%= sv.game_mode %></td>
        </tr>
        <tr>
          <td>Players</td>
          <td><%= sv.num_playing %>/<%= sv.slots %></td>
        </tr>
        <tr>
          <td>Spectators</td>
          <td><%= sv.num_spectating %>/<%= sv.slots %></td>
        </tr>
        <tr>
          <td>Score resistance</td>
          <td><%= sv.score_resistance %></td>
        </tr>
        <tr>
          <td>Score metropolis</td>
          <td><%= sv.score_metropolis %></td>
        </tr>
        <tr>
          <td rowspan="2">Join server</td>
          <td><a href="steam://run/2660970//<%= sv.site_displayed_address %>/"><i class="fa-brands fa-steam mr"></i>Connect via Steam</a></td>
        </tr>
        <tr>
          <td><a href="https://hypersomnia.io/game/<%= sv.browser_connect_string %>"><i class="fa-solid fa-right-to-bracket mr"></i>Play in Browser</a></td>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th width="25%">Score</th>
          <th width="25%">Deaths</th>
        </tr>
      </thead>
      <tbody>
        <% if (sv.num_online == 0) { %>
          <tr>
            <td colspan="3">Server is empty</td>
          </tr>
        <% } else { %>
          <% sv.players_resistance.forEach(function(v) { %>
            <tr>
              <td class="resistance"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deaths %></td>
            </tr>
          <% }); %>
          <% sv.players_metropolis.forEach(function(v) { %>
            <tr>
              <td class="metropolis"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deaths %></td>
            </tr>
          <% }); %>
          <% sv.players_spectating.forEach(function(v) { %>
            <tr>
              <td class="spectator"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deaths %></td>
            </tr>
          <% }); %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('overall_footer'); %>
