<%- include('overall_header'); %>

<h1><%= sv.name %></h1>
<div class="box">
  <div class="table-responsive">
    <table>
      <thead><tr><th>Key</th><th>Value</th></tr><div></div></thead>
      <tbody>
        <tr>
          <td>Server version</td>
          <td><%= sv.server_version %></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><%= sv.name %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><span class="tocopy"><code><%= sv.ip %></code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></td>
        </tr>
        <tr>
          <td>First appeared</td>
          <td><%= sv.time_hosted_ago %></td>
        </tr>
        <tr>
          <td>Last heartbeat</td>
          <td><%= sv.time_last_heartbeat_ago %></td>
        </tr>
        <tr>
          <td>Arena</td>
          <td><%= sv.arena %></td>
        </tr>
        <tr>
          <td>Game mode</td>
          <td><%= sv.game_mode %></td>
        </tr>
        <tr>
          <td>Players</td>
          <td><%= sv.num_playing %>/<%= sv.slots %></td>
        </tr>
        <tr>
          <td>Spectators</td>
          <td><%= sv.num_spectating %>/<%= sv.slots %></td>
        </tr>
        <tr>
          <td>Score resistance</td>
          <td><%= sv.score_resistance %></td>
        </tr>
        <tr>
          <td>Score metropolis</td>
          <td><%= sv.score_metropolis %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table>
      <thead><tr><th>Name</th><th>Score</th><th>Deatds</th></tr><div></div></thead>
      <tbody>
        <% if (sv.num_online == 0) { %>
          <tr>
            <td colspan="3">Server is empty</td>
          </tr>
        <% } else { %>
          <% sv.players_resistance.forEach(function(v) { %>
            <tr>
              <td class="resistance"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deatds %></td>
            </tr>
          <% }); %>
          <% sv.players_metropolis.forEach(function(v) { %>
            <tr>
              <td class="metropolis"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deatds %></td>
            </tr>
          <% }); %>
          <% sv.players_spectating.forEach(function(v) { %>
            <tr>
              <td class="spectator"><%= v.nickname %></td>
              <td><%= v.score %></td>
              <td><%= v.deatds %></td>
            </tr>
          <% }); %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('overall_footer'); %>
