<%- include('overall_header'); %>
<h1><%= nickname %></h1>

<div class="box">
  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>External profile</td>
          <td>
            <a href="<%= profileUrl %>" target="_blank">
              <% if (platformName === 'CrazyGames') { %>
                <img width="16" height="16" src="<%= CDN %>/assets/images/social_crazygames.png" alt="CrazyGames">
              <% } else { %>
                <i class="<%= platformIconClass %>"></i>
              <% } %>
              <%= platformName %>
            </a>
        </tr>
        <tr>
          <td>
            <% if (associationType && associatedProfileUrl && associatedId) { %>
              <%= associationType %>
            <% } else { %>
              Secondary account
            <% } %>
          </td>
          <td>
            <% if (associationType && associatedProfileUrl && associatedId) { %>
              <a href="<%= associatedProfileUrl %>"><%= associatedId %></a>
            <% } else { %>
              N/A
            <% } %>
          </td>
        </tr>
        <tr>
          <td>MMR</td>
          <td>
            <img class="rank" src="https://cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia/hypersomnia/content/gfx/necessary/<%= teamData.rankImg %>" alt="<%= teamData.rankName %>"><abbr title="μ = <%= teamData.mu.toFixed(3) %> / σ = <%= teamData.sigma.toFixed(3) %>"><%= teamData.mmr.toFixed(2) %></abbr>
          </td>
        </tr>
        <tr>
          <td>MMR (FFA)</td>
          <td>
            <img class="rank" src="https://cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia/hypersomnia/content/gfx/necessary/<%= ffaData.rankImg %>" alt="<%= ffaData.rankName %>"><abbr title="μ = <%= ffaData.mu.toFixed(3) %> / σ = <%= ffaData.sigma.toFixed(3) %>"><%= ffaData.mmr.toFixed(2) %></abbr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Matches won</td>
          <td><%= teamData.matches_won %></td>
        </tr>
        <tr>
          <td>Matches lost</td>
          <td><%= teamData.matches_lost %></td>
        </tr>
        <tr>
          <td>Matches won (FFA)</td>
          <td><%= ffaData.matches_won %></td>
        </tr>
        <tr>
          <td>Matches lost (FFA)</td>
          <td><%= ffaData.matches_lost %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="responsive">
  <table class="sortable maxwidth">
    <thead>
      <tr>
        <th width="20%">Arena</th>
        <th width="25%">MMR</th>
        <th class="no-sort" width="10%">Score</th>
        <th class="no-sort" width="25%">Opponents</th>
        <th class="dir-d" width="14%">Time ago</th>
        <th width="6%">Server</th>
      </tr>
    </thead>
    <tbody>
      <% matches.forEach(v => { %>
        <tr>
          <td><%= v.arena %></td>
          <td class="serif"><%- formatMMRDelta(v.mmrDelta) %> <%= v.new_mmr %></td>
          <td class="serif"><% if (v.game_mode === 'FFA Gun Game') { %>FFA<% } else { %><%- v.result %><% } %></td>
          <td>
            <% v.opponentArray.forEach(player => { %>
              <%- formatMMRDelta(player.mmr_delta) %>
              <a href="/user/<%= player.id %>">
                <%= player.nickname %>
              </a>
              <% if (v.opponentArray.indexOf(player) < v.opponentArray.length - 1) { %><br><% } %>
            <% }); %>
          </td>
          <td><%= v.time_ago %></td>
          <td class="extra"><%= v.server_emoji %><% if (v.multPreffix !== 1) { %><abbr class="flame" title="Event match multiplier x<%= v.multPreffix %>"><i class="fa-solid fa-fire-flame-curved"></i>x<%= v.multPreffix %></abbr><% } %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('overall_footer'); %>
