<%- include('overall_header'); %>
<h1><%= nickname %></h1>

<div class="box">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>External profile</td>
          <td>
            <a href="<%= profileUrl %>" target="_blank" style="display: flex; align-items: center;">
              <% if (platformName === 'CrazyGames') { %>
                <img src="/assets/images/social_crazygames.png" alt="CrazyGames" style="width: 1.3em; height: 1.3em; margin-right: 0.3em;">
              <% } else { %>
                <i class="<%= platformIconClass %>" style="margin-right: 0.3em;"></i>
              <% } %>
              <%= platformName %><span class="external-link-icon" aria-hidden="true"></span>
            </a>
        </tr>
        <tr>
          <td>
            <% if (associationType && associatedProfileUrl && associatedId) { %>
              <%= associationType %>
            <% } else { %>
              Secondary account
            <% } %>
          </td>
          <td>
            <% if (associationType && associatedProfileUrl && associatedId) { %>
              <a href="<%= associatedProfileUrl %>"><%= associatedId %></a>
            <% } else { %>
              N/A
            <% } %>
          </td>
        </tr>
        <tr>
          <td>MMR</td>
          <td>
            <img class="rank" src="https://cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia/hypersomnia/content/gfx/necessary/<%= teamData.rankImg %>" alt="<%= teamData.rankName %>"><abbr title="μ = <%= teamData.mu.toFixed(3) %> / σ = <%= teamData.sigma.toFixed(3) %>"><%= teamData.mmr.toFixed(6) %></abbr>
          </td>
        </tr>
        <tr>
          <td>MMR (FFA)</td>
          <td>
            <img class="rank" src="https://cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia/hypersomnia/content/gfx/necessary/<%= ffaData.rankImg %>" alt="<%= ffaData.rankName %>"><abbr title="μ = <%= ffaData.mu.toFixed(3) %> / σ = <%= ffaData.sigma.toFixed(3) %>"><%= ffaData.mmr.toFixed(6) %></abbr>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th width="50%">Key</th>
          <th width="50%">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Matches won</td>
          <td>
            <b><%= teamData.matches_won %></b> 
          </td>
        </tr>
        <tr>
          <td>Matches lost</td>
          <td>
            <b><%= teamData.matches_lost %></b> 
          </td>
        </tr>
        <tr>
          <td>Matches won (FFA)</td>
          <td>
            <b><%= ffaData.matches_won %></b> 
          </td>
        </tr>
        <tr>
          <td>Matches lost (FFA)</td>
          <td>
            <b><%= ffaData.matches_lost %></b> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th width="20%">Arena</th>
        <th width="25%">MMR change</th>
        <th class="no-sort" width="6%">Score</th>
        <th class="no-sort" width="25%">Opponents</th>
        <th width="12%">Time ago</th>
        <th width="12%">Server</th>
      </tr>
    </thead>
    <tbody>
      <% matches.forEach(v => { %>
        <tr>
          <td><a href="/arenas/<%= v.arena %>/"><%= v.arena %></a></td>
          <td><%- v.mmr_change %> <%= v.prev_mmr %>→<%= v.new_mmr %></td>
          <% if (v.game_mode === 'FFA Gun Game') { %>
            <td><b>FFA</b></td>
          <% } else { %>
            <td><%- v.result %></td>
          <% } %>
          <td><%- v.formattedOpponentLinks %></td>
          <td><%= v.time_ago %></td>
          <td><%= v.server_id %> <%- v.multPreffix %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<%- include('overall_footer'); %>
