<%- include('overall_header'); %>

<h1>Firearms</h1>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="no-sort">Weapon</th>
        <th>DMG</th>
        <th>HS</th>
        <th>Penetration</th>
        <th>Shots/sec</th>
        <th>DMG/sec</th>
        <th>Bullet speed</th>
        <th>Price</th>
        <th>Award</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <% firearms.forEach(i => { %>
        <tr>
          <td><%= i.display_name %></td>
          <td><img src="//cdn.jsdelivr.net/gh/TeamHypersomnia/Hypersomnia@master/hypersomnia/content/gfx/<%= i.pic_filename %>" alt="<%= i.display_name %>"></td>
          <td><%= i.damage %></td>
          <td><%= i.headshot_damage %></td>
          <td><%= i.penetration %></td>
          <td><%= i.shots_per_second.toFixed(2) %></td>
          <td><%= Math.floor(i.shots_per_second * i.damage) %></td>
          <td><%= (i.min_bullet_speed + i.max_bullet_speed) / 2 %></td>
          <td data-sort="<%= i.price %>">$<%= i.price %></td>
          <td data-sort="<%= i.kill_award %>">$<%= i.kill_award %></td>
          <td><%= i.weight.toFixed(2) %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<h2>Melee weapons</h2>
<div class="btn-group">
  <div class="btn"><button class="fastBtn active" onclick="fast()"><span>Fast attack</span></button></div>
  <div class="btn"><button class="strongBtn" onclick="strong()"><span>Strong attack</span></button></div>
</div>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="no-sort">Weapon</th>
        <th>Swings/sec</th>
        <th>DMG</th>
        <th>HS DMG</th>
        <th>Stamina</th>
        <th>Throw DMG</th>
        <th>Throw HS DMG</th>
        <th>Price</th>
        <th>Kill award</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <% melees.forEach(i => { %>
        <tr>
          <td><%= i.display_name %></td>
          <td><img src="//raw.githubusercontent.com/TeamHypersomnia/Hypersomnia/master/hypersomnia/content/gfx/<%= i.pic_filename %>" alt="<%= i.display_name %>"></td>
          <td>
            <span class="fast"><%= i.fast_swings_per_second.toFixed(2) %></span>
            <span class="strong"><%= i.strong_swings_per_second.toFixed(2) %></span>
          </td>
          <td>
            <span class="fast"><%= i.fast_damage %></span>
            <span class="strong"><%= i.strong_damage %></span>
          </td>
          <td>
            <span class="fast"><%= i.fast_hs_damage %></span>
            <span class="strong"><%= i.strong_hs_damage %></span>
          </td>
          <td>
            <span class="fast"><%= i.fast_stamina_required %></span>
            <span class="strong"><%= i.strong_stamina_required %></span>
          </td>
          <td><%= i.throw_damage %></td>
          <td><%= i.throw_hs_damage %></td>
          <td data-sort="<%= i.price %>">$<%= i.price %></td>
          <td data-sort="<%= i.kill_award %>">$<%= i.kill_award %></td>
          <td><%= i.weight.toFixed(2) %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<h2>Explosives</h2>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="no-sort">Weapon</th>
        <th>Notes</th>
        <th>Fuse delay</th>
        <th>Base DMG</th>
        <th>Price</th>
        <th>Kill award</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <% explosives.forEach(i => { %>
        <tr>
          <td><%= i.display_name %></td>
          <td><img src="//raw.githubusercontent.com/TeamHypersomnia/Hypersomnia/master/hypersomnia/content/gfx/<%= i.pic_filename %>" alt="<%= i.display_name %>"></td>
          <td><%= i.notes %></td>
          <td><%= i.fuse_delay.toFixed(2) %></td>
          <td><%= i.base_damage === -1 ? 'N/A' : i.base_damage %></td>
          <td data-sort="<%= i.price %>">$<%= i.price %></td>
          <td data-sort="<%= i.kill_award %>"><%= i.kill_award === -1 ? 'N/A' : '$' + i.kill_award %></td>
          <td><%= i.weight.toFixed(2) %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<h2>Spells</h2>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th class="no-sort">Spell</th>
        <th>Notes</th>
        <th>Cooldown</th>
        <th>Mana required</th>
        <th>Price</th>
        <th>Kill award</th>
      </tr>
    </thead>
    <tbody>
      <% spells.forEach(i => { %>
        <tr>
          <td><%= i.display_name %></td>
          <td><img src="//raw.githubusercontent.com/TeamHypersomnia/Hypersomnia/master/hypersomnia/content/gfx/<%= i.pic_filename %>" alt="<%= i.display_name %>"></td>
          <td><%= i.notes %></td>
          <td><%= i.cooldown %></td>
          <td><%= i.mana_required %></td>
          <td data-sort="<%= i.price %>">$<%= i.price %></td>
          <td data-sort="<%= i.kill_award %>"><%= i.kill_award === -1 ? 'N/A' : '$' + i.kill_award %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('overall_footer'); %>
