<h1>Admin Dashboard</h1>
<div class="btn-group">
  <div class="btn"><a href="{{ url }}admin/system"><span><i class="fa-solid fa-circle-info"></i></span><span>System</span></a></div>
  <div class="btn"><a href="{{ url }}admin/packages"><span><i class="fa-solid fa-box"></i></span><span>Packages</span></a></div>
  <div class="btn"><a href="{{ url }}admin/visitors"><span><i class="fa-solid fa-users"></i></span><span>Visitors</span></a></div>
  <div class="btn"><a href="{{ url }}admin/users"><span><i class="fa fa-brands fa-discord"></i></span><span>Users</span></a></div>
  <div class="btn"><a href="{{ url }}admin/authorized-mappers"><span><i class="fa-solid fa-lock"></i></span><span>Authorized Mappers</span></a></div>
</div>
