{% include 'overall_header.twig' %}
{% include 'admin/admin_dashboard.twig' %}

<div class="table-responsive">
  <table id="users" class="sortable">
    <thead>
      <tr>
        <th>Display name</th>
        <th>Username</th>
        <th>Discord ID</th>
        <th>Last page</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in users %}
      <tr>
        <td>{{ v.global_name }}</td>
        <td>{{ v.username }}</td>
        <td><span class="tocopy"><code>{{ k }}</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></td>
        <td>{{ v.last_page|length > 30 ? v.last_page|slice(0, 30) ~ '...' : v.last_page  }}</td>
        <td>{{ v.last_seen }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'overall_footer.twig' %}
