{% include 'overall_header.twig' %}
{% include 'admin/admin_dashboard.twig' %}

<div class="table-responsive">
  <table id="visitors" class="sortable">
    <thead>
      <tr>
        <th>IP address</th>
        <th>User agent</th>
        <th>Last page</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in visitors %}
      <tr>
        <td><a href="https://db-ip.com/{{ k }}" target="_blank">{{ k }}</a></td>
        <td><span class="tooltip"{% if v.ua is not null %} title="{{ v.ua }}"{% endif %}>{{ v.result }}</span></td>
        <td><a href="{{ url }}{{ v.uri|slice(1) }}">{{ v.uri|length > 30 ? v.uri|slice(0, 30) ~ '...' : v.uri  }}</a></td>
        <td>{{ v.ts }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'overall_footer.twig' %}
