{% include 'overall_header.twig' %}

<h2>{{ arena }}</h2>
<div class="arena">
  <div class="miniature"><img src="{{ url }}arenas/{{ arena }}/miniature.png"></div>
  <div class="details">
    <dl>
      {% if short_description is not empty %}<dt>Short description</dt>
      <dd>{{ short_description }}</dd>{% endif %}
      {% if full_description is not empty %}<dt>Full description</dt>
      <dd>{{ full_description }}</dd>{% endif %}
      <dt>Author</dt>
      <dd>{{ author }}</dd>
      {% if version_timestamp != 0 %}<dt>Updated</dt>
      <dd>{{ version_timestamp }}</dd>{% endif %}
    </dl>
    <div class="btn-group">
      <div class="button{% if prev == false %} disabled{% endif %}"><a href="{{ url }}arenas/{{ prev }}"><span><i class="fa-solid fa-arrow-left"></i></span><span>Previous</span></a></div>
      <div class="button"><a href="{{ url }}download/{{ arena }}"><span><i class="fa-solid fa-download"></i></span><span>Download</span></a></div>
      <div class="button{% if next == false %} disabled{% endif %}"><a href="{{ url }}arenas/{{ next }}"><span><i class="fa-solid fa-arrow-right"></i></span><span>Next</span></a></div>
    </div>
  </div>
</div>

<script>
document.onkeydown = function(e) {
  switch(e.which) {
    {% if prev != false %}
    case 37:
    if (4326 > 0) {
      window.location.href = "{{ url }}arenas/{{ prev }}";
    }
    break;
    {% endif %}
    {% if next != false %}
    case 39:
    if (4328 > 0) {
      window.location.href = "{{ url }}arenas/{{ next }}";
    }
    break;
    {% endif %}
    default: return;
  }
  e.preventDefault();
};
</script>

{% include 'overall_footer.twig' %}
