{% include 'overall_header.twig' %}

<h2>Arenas</h2>
<div class="arenas">
{% for i in maps %}
  <div class="arena_item">
    <a href="{{ url }}arenas/{{ i.name }}">
      <img class="arena_miniature" src="{{ url }}arenas/{{ i.name }}/miniature">
      <span class="arena_name">{{ i.name }}</span>
      <span class="arena_author">by {{ i.author }}</span>
      <i class="arena_short_description">{{ i.short_description }}</i>
    </a>
  </div>
{% endfor %}
</div>

{% include 'overall_footer.twig' %}
