{% include 'overall_header.twig' %}

<h1>Community Arenas</h1>
<div class="arenas">
{% for i in maps %}
  <a href="{{ url }}arenas/{{ i.name }}">
    <img class="arena_miniature" src="{{ url }}arenas/{{ i.name }}/miniature.png" alt="{{ i.name }}">
    <div class="arena_name">{{ i.name }}</div>
    <div class="arena_author">by {{ i.author }}</div>
    <div class="subname">{{ i.short_description }}</div>
  </a>
{% endfor %}
</div>

{% include 'overall_footer.twig' %}
