{% include 'overall_header.twig' %}

<h1>{{ arena }}</h1>
<div class="arena">
  <div class="details">
    <dl>
      <dt>Short description</dt>
      <dd>{{ short_description }}</dd>
      <dt>Full description</dt>
      <dd>{{ full_description }}</dd>
      <dt>External resources</dt>
      <dd>{{ resources }}</dd>
      <dt>Author</dt>
      <dd>{{ author }}{% if s.logged == true %}<a href="/arenas?author={{ author }}" class="icon"><i class="fa-solid fa-magnifying-glass"></i></a>{% endif %}</dd>
      <dt>Updated</dt>
      <dd>{{ updated }}</dd>
      <dt>Size</dt>
      <dd>{{ size }}</dd>
      <dt>Likes</td>
      <dd>
        <span id="likes">{{ likes }}</span>{% if s.logged == true %}<button id="like"{% if is_liked == true %} style="display:none;"{% endif %}><i class="fa-solid fa-thumbs-up"></i></button>{% endif %}
      </dd>
    </dl>
  </div>
  <div class="miniature"><img src="/arenas/{{ arena }}/miniature.png?v={{ version_timestamp|date("U") }}" alt="{{ arena }}"></div>
</div>
<div class="btn-group center">
  <div class="btn"><a href="/arenas/{{ prev }}"><span><i class="fa-solid fa-arrow-left"></i></span><span>Previous</span></a></div>
  <div class="btn"><a href="/download-zip/{{ arena }}"><span><i class="fa-solid fa-download"></i></span><span>Download</span></a></div>
  <div class="btn"><a href="/arenas/{{ next }}"><span><i class="fa-solid fa-arrow-right"></i></span><span>Next</span></a></div>
</div>

<script>
document.onkeydown = function(e) {
  switch(e.which) {
    case 37:
    if (4326 > 0) {
      window.location.href = "/arenas/{{ prev }}";
    }
    break;
    case 39:
    if (4328 > 0) {
      window.location.href = "/arenas/{{ next }}";
    }
    break;
    default: return;
  }
  e.preventDefault();
};

{% if s.logged == true %}
const likesSpan = document.getElementById('likes');
const likeButton = document.getElementById('like');
likeButton.addEventListener('click', function () {
  likeButton.disabled = true;
  const data = new FormData();
  data.append('arena', '{{ arena }}');
  send('/ajax/like-arena', data)
    .then(response => {
      const json = JSON.parse(response);
      if (json.success) {
        likesSpan.textContent = parseInt(likesSpan.textContent) + 1;
        likeButton.style.display = 'none';
      }
    })
    .catch(error => {
      console.error('An error occurred:', error);
    });
  setTimeout(() => likeButton.disabled = false, 3000);
});
{% endif %}
</script>

{% include 'overall_footer.twig' %}
