{% include 'overall_header.twig' %}

<h1>Community Arenas</h1>
{% if arenas == false %}
<p class="error">Failed to fetch arenas</p>
{% else %}
<div class="arenas">
{% for i in arenas %}
  <a href="{{ url }}arenas/{{ i.name }}">
    <img class="arena_miniature" src="{{ url }}arenas/{{ i.name }}/miniature.png" alt="{{ i.name }}">
    <div class="arena_name">{{ i.name }}</div>
    <div class="arena_author">by {{ i.author }}</div>
    <div class="subname">{{ i.short_description }}</div>
  </a>
{% endfor %}
</div>
{% endif %}

{% include 'overall_footer.twig' %}
