{% include 'overall_header.twig' %}

<div class="parent">
  <div>
    <h1>Hypersomnia</h1>
    <div class="margin">
      <img src="{{ url }}assets/images/gif_460x310.gif" alt="hypersomnia" class="responsive">
    </div>
    <p><i>Hypersomnia</i> is a competitive arena released as free software.</p>
    <p>The game has been online and playable since 2017. It brings together:</p>
    <ul>
      <li>the tactics of <i>Counter-Strike</i>,</li>
      <li>the dynamics of <i>Hotline Miami</i>,</li>
      <li>the pixel art nostalgia of oldschool RPGs..</li>
      <li>..and the potential for endless creativity thanks to an in-game map editor!</li>
    </ul>
    <p><i>Hypersomnia</i> aims to be <strong>the ultimate open-source 2D shooter</strong> - a grand community project extensible without limit.</p>
    <p>Declare allegiance to one of the three factions whose apple of discord is a disparity between prevailing notions of moral excellence:</p>
    <p><strong>Metropolis. Atlantis. Resistance.</strong></p>
    <p>Will you take revenge for the unethical simulation of an inferior universe? Will you support the cruel experiments to win total control over metempsychosis? Or will you join the underground civilization that awaits the end of war in this dangerous afterlife reality?</p>
    <h2>Gameplay & Dev Journals</h2>
    <ul class="yt">
      <li data-code="CHLPzZqANlM"></li>
      <li data-code="Nlh_dyd_V7w"></li>
      <li data-code="URWjNtUArDo"></li>
    </ul>
  </div>
  <div>
    <div class="alert">
      <strong>Download The Game</strong>
      <p>Hypersomnia is available for Windows, Linux, and MacOS. Choose your OS to download the game below.</p>
      <div class="three">
        <a href="{{ url }}download/windows"><img src="{{ url }}assets/images/os/windows.png" alt="windows"><br>Windows</a>
        <a href="{{ url }}download/linux"><img src="{{ url }}assets/images/os/linux.png" alt="linux"><br>Linux</a>
        <a href="{{ url }}download/macos"><img src="{{ url }}assets/images/os/macos.png" alt="macos"><br>MacOS</a>
      </div>
      <p class="subname">Archives are <a href="https://github.com/TeamHypersomnia/Hypersomnia/blob/master/src/signing_keys.h" target="_blank">digitally signed</a>. You can <a href="https://hypersomnia.xyz/builds/latest/" target="_blank">verify signatures</a>.</p>
    </div>
    <div class="alert">
      <strong>Latest Commits</strong>
      {% if commits == false %}
      <p class="error">Failed to fetch commits</p>
      {% else %}
      <ul class="none">
        {% for c in commits %}
        <li><a href="https://github.com/TeamHypersomnia/Hypersomnia/commit/{{ c.sha }}" target="_blank">{{ c.message }}<br><i class="subname">{{ c.date }}</i></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% include 'overall_footer.twig' %}
