<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1d1d1d">
  <meta name="description" content="An online shooter with ridiculously fast dynamics. Challenge your friend to an intense duel, or gather two clans to fight a spectacular war.">
  <meta name="keywords" content="hypersomnia, hypersomnia game, online shooter, free game, open-source game, top-down shooter">
  <meta property="og:image" content="{{ url }}{% if arena is defined %}arenas/{{ arena }}/miniature.png{% else %}assets/images/hypersomnia3x4.png{% endif %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:title" content="{% if page == "Index" %}Free Multiplayer Top-Down Shooter{% else %}{{ page }}{% endif %} - Hypersomnia">
  <meta property="og:description" content="{% if arena is defined %}{{ short_description|replace({"\n": " "}) }}{% else %}An online shooter with ridiculously fast dynamics. Challenge your friend to an intense duel, or gather two clans to fight a spectacular war.{% endif %}">
  <title>{% if page == "Index" %}Free Multiplayer Top-Down Shooter{% else %}{{ page }}{% endif %} - Hypersomnia</title>
  <link rel="icon" type="image/x-icon" href="{{ url }}favicon.ico">
  <link rel="stylesheet" href="{{ url }}assets/styles/main.css?v={{ filemtime('assets/styles/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <nav>
    <div class="container flex">
      <a href="{{ url }}"{% if page == "Index" %} class="active"{% endif %}>
        <span class="desktop">Hypersomnia</span><span class="mobile"><i class="fa-solid fa-house"></i></span>
      </a>
      <a href="{{ url }}guide"{% if page == "Guide" %} class="active"{% endif %}>
        <span class="desktop">Guide</span><span class="mobile"><i class="fa-solid fa-book"></i></span>
      </a>
      <a href="{{ url }}arenas"{% if page == "Arenas" %} class="active"{% endif %}>
        <span class="desktop">Arenas</span><span class="mobile"><i class="fa-solid fa-map"></i></span>
      </a>
      <a href="{{ url }}weapons"{% if page == "Weapons" %} class="active"{% endif %}>
        <span class="desktop">Weapons</span><span class="mobile"><i class="fa-solid fa-gun"></i></span>
      </a>
      <a href="{{ url }}servers"{% if page == "Servers" %} class="active"{% endif %}>
        <span class="desktop">Servers</span><span class="mobile"><i class="fa-solid fa-server"></i></span>
      </a>
      {% if s.logged == false %}
      <a href="{{ url }}discord"{% if page == "Discord" %} class="active"{% endif %}>
        <span class="desktop">Login with Discord</span><span class="mobile"><i class="fa fa-brands fa-discord"></i></span>
      </a>
      {% else %}
      <form method="POST" action="{{ url }}logout">
        <button type="submit"><span class="desktop">Logout</span><span class="mobile"><i class="fa-solid fa-right-from-bracket"></i></div></button>
      </form>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    <article>
