<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1d1d1d">
  <meta name="description" content="An online shooter with ridiculously fast dynamics. Challenge your friend to an intense duel, or gather two clans to hold a spectacular skirmish.">
  <meta name="keywords" content="hypersomnia, hypersomnia game, online shooter, free game, open-source game">
  <title>{% if page != "Index" %}{{ page }} - {% endif %}Hypersomnia</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
  <link href="{{ url }}assets/styles/main.css?v=1682873431" rel="stylesheet">
  <script src="https://kit.fontawesome.com/24be0de9ff.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  <script src="{{ url }}assets/scripts/main.js?v=1682873431"></script>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <div class="container">
      <a href="{{ url }}"{% if page == "Index" %} class="active"{% endif %}>Hypersomnia</a>
      <a href="{{ url }}guide"{% if page == "Guide" %} class="active"{% endif %}>Guide</a>
      <a href="{{ url }}arenas"{% if page == "Arenas" %} class="active"{% endif %}>Arenas</a>
      <a href="{{ url }}weapons"{% if page == "Weapons" %} class="active"{% endif %}>Weapons</a>
      <a href="javascript:void(0);" class="icon" onclick="topnav()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="content">
