    </div>
    <footer class="footer-distributed">
      <div class="footer-right">
        <a href="https://discord.gg/YC49E4G" target="_blank" aria-label="Discord"><i class="fa fa-brands fa-discord" aria-hidden="true"></i></a>
        <a href="https://youtube.com/@teamhypersomnia" target="_blank" aria-label="YouTube"><i class="fa fa-brands fa-youtube" aria-hidden="true"></i></a>
        <a href="https://github.com/TeamHypersomnia/Hypersomnia" target="_blank" aria-label="GitHub"><i class="fa fa-brands fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/teamhypersomnia" target="_blank" aria-label="Twitter"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="footer-left">
        <div class="links">
          <a href="{{ url }}disclaimer">Disclaimer</a>
          <a href="{{ url }}cookie-policy">Cookie Policy</a>
          <a href="{{ url }}contact">Contact</a>
          <a href="{{ url }}press">Press</a>
          <a href="{{ url }}statistics">Statistics</a>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://kit.fontawesome.com/24be0de9ff.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>
  <script src="{{ url }}assets/scripts/main.js?v=1693585696"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-49Z60GVFEM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-49Z60GVFEM');
  </script>
</body>
</html>
