{% include 'overall_header.twig' %}

<h1>Server List</h1>
<div class="table-responsive">
  <table id="servers" class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Game Mode</th>
        <th>Players</th>
        <th>Spectators</th>
        <th>Arena</th>
        <th>First appeared</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% if servers == false %}
      <tr>
        <td colspan="7" class="error">Failed to fetch data</td>
      </tr>
      {% else %}
      {% for i in servers %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.game_mode }}</td>
        <td data-sort="{{ i.num_playing }}">{{ i.num_playing }}/{{ i.slots }}</td>
        <td data-sort="{{ i.num_spectating }}">{{ i.num_spectating }}/{{ i.slots }}</td>
        <td>{{ i.arena }}</td>
        <td data-sort="{{ i.time_hosted }}">{{ i.time_hosted_ago }}</td>
        <td><a href="{{ url }}servers/{{ i.ip }}">{{ i.ip }}</a></td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<h2>Host Dedicated Server</h2>

<div class="btn-group">
  <div class="btn">
    <a class="tablinks active" href="javascript:void(0)" onclick="javascript:openTab(event, 'debian')">
      <span><img src="{{ url }}assets/images/ubuntu.png" alt="ubuntu"><img src="{{ url }}assets/images/debian.png" alt="debian"></span>
      <span>Ubuntu/Debian</span>
    </a>
  </div>
  <div class="btn">
    <a class="tablinks" href="javascript:void(0)" onclick="javascript:openTab(event, 'centos')">
      <span><img src="{{ url }}assets/images/centos.png" alt="centos"></span>
      <span>CentOS</span>
    </a>
  </div>
  <div class="btn">
    <a class="tablinks" href="javascript:void(0)" onclick="javascript:openTab(event, 'arch')">
      <span><img src="{{ url }}assets/images/arch.png" alt="arch"></span>
      <span>Arch Linux</span>
    </a>
  </div>
  <div class="btn">
    <a class="tablinks" href="javascript:void(0)" onclick="javascript:openTab(event, 'fedora')">
      <span><img src="{{ url }}assets/images/fedora.png" alt="fedora"></span>
      <span>Fedora</span>
    </a>
  </div>
</div>

<div class="tutorial">
  <p>Ensure that your package manager's cache is up to date, and then install fuse:<br>
  <span class="tocopy tabcontent" id="debian" style="display: block;"><code>sudo apt update && sudo apt install fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="centos"><code>sudo yum makecache && sudo yum -y install fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="arch"><code>sudo pacman -Sy && sudo pacman -S --noconfirm fuse2</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="fedora"><code>sudo dnf makecache && sudo dnf install -y fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  </p>
  <p>Download Hypersomnia.AppImage using the following command:<br>
  <span class="tocopy"><code>wget https://hypersomnia.xyz/builds/latest/Hypersomnia.AppImage</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></p>
  <p>Grant execution permission to the "Hypersomnia.AppImage" file:<br>
  <span class="tocopy"><code>chmod +x Hypersomnia.AppImage</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></p>
  <p>Run the "Hypersomnia.AppImage" in the background as a dedicated server:<br>
  <span class="tocopy"><code>nohup ./Hypersomnia.AppImage --dedicated-server --no-router > /dev/null 2>&1 &</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span></p>
</div>

<p>Remove "--no-router" if you're hosting on your PC rather than a proper VPN.</p>
<p>To be able to manage your server, remember to set a master_rcon_password in ~/.config/Hypersomnia/user/config.force.lua - see default_config.lua for reference.</p>

{% include 'overall_footer.twig' %}
