{% include 'overall_header.twig' %}

<h2>{{ sv.name }}</h2>
<div class="box">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Server version</th>
          <td>{{ sv.server_version }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ sv.name }}</td>
        </tr>
        <tr>
          <th>Address</th>
          <td><span id="address">{{ sv.ip }}</span><button id="copy"><i class="fa-solid fa-copy"></i></button></td>
        </tr>
        <tr>
          <th>First appeared</th>
          <td>{{ sv.time_hosted_ago }}</td>
        </tr>
        <tr>
          <th>Last heartbeat</th>
          <td>{{ sv.time_last_heartbeat_ago }}</td>
        </tr>
        <tr>
          <th>Arena</th>
          <td>{{ sv.arena }}</td>
        </tr>
        <tr>
          <th>Game mode</th>
          <td>{{ sv.game_mode }}</td>
        </tr>
        <tr>
          <th>Players</th>
          <td>{{ sv.num_playing }}/{{ sv.slots }}</td>
        </tr>
        <tr>
          <th>Spectators</th>
          <td>{{ sv.num_spectating }}/{{ sv.slots }}</td>
        </tr>
        <tr>
          <th>Score resistance</th>
          <td>{{ sv.score_resistance }}</td>
        </tr>
        <tr>
          <th>Score metropolis</th>
          <td>{{ sv.score_metropolis }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="sortable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th>Deaths</th>
        </tr>
      </thead>
      <tbody>
        {% if sv.num_playing == 0 and sv.num_spectating == 0 %}
          <tr>
            <td colspan="3">Server is empty</td>
          </tr>
        {% else %}
          {% for k, v in sv.players_resistance %}
          <tr>
            <td class="resistance">{{ v.nickname }}</td>
            <td>{{ v.score }}</td>
            <td>{{ v.deaths }}</td>
          </tr>
          {% endfor %}
          {% for k, v in sv.players_metropolis %}
          <tr>
            <td class="metropolis">{{ v.nickname }}</td>
            <td>{{ v.score }}</td>
            <td>{{ v.deaths }}</td>
          </tr>
          {% endfor %}
          {% for k, v in sv.players_spectating %}
          <tr>
            <td class="spectator">{{ v.nickname }}</td>
            <td>{{ v.score }}</td>
            <td>{{ v.deaths }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% include 'overall_footer.twig' %}
