{% include 'overall_header.twig' %}

<h1>Server List</h1>
<div class="table-responsive">
  <table class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Game Mode</th>
        <th>Players</th>
        <th>Spectators</th>
        <th>Arena</th>
        <th>First appeared</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% if servers == false %}
      <tr>
        <td colspan="7">Failed to fetch data</td>
      </tr>
      {% else %}
      {% for i in servers %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.game_mode }}</td>
        <td data-sort="{{ i.num_playing }}">{{ i.num_playing }}/{{ i.slots }}</td>
        <td data-sort="{{ i.num_spectating }}">{{ i.num_spectating }}/{{ i.slots }}</td>
        <td>{{ i.arena }}</td>
        <td data-sort="{{ i.time_hosted }}">{{ i.time_hosted_ago }}</td>
        <td><a href="{{ url }}servers/{{ i.ip }}">{{ i.ip }}</a></td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<h2>Host Dedicated Server</h2>
<div class="btn-group">
  <div class="btn">
    <button class="tablinks active" onclick="javascript:opn(event,'debian')">
      <span><img src="{{ url }}assets/images/os/ubuntu.png" alt="Ubuntu"><img src="{{ url }}assets/images/os/debian.png" alt="Debian"></span>
      <span>Ubuntu/Debian</span>
    </button>
  </div>
  <div class="btn">
    <button class="tablinks" onclick="javascript:opn(event,'centos')">
      <span><img src="{{ url }}assets/images/os/centos.png" alt="CentOS"></span>
      <span>CentOS</span>
    </button>
  </div>
  <div class="btn">
    <button class="tablinks" onclick="javascript:opn(event,'arch')">
      <span><img src="{{ url }}assets/images/os/arch.png" alt="Arch Linux"></span>
      <span>Arch Linux</span>
    </button>
  </div>
  <div class="btn">
    <button class="tablinks" onclick="javascript:opn(event,'fedora')">
      <span><img src="{{ url }}assets/images/os/fedora.png" alt="Fedora"></span>
      <span>Fedora</span>
    </button>
  </div>
</div>

<div class="tutorial">
  <span class="txt"># Update package manager cache and install fuse</span>
  <span class="tocopy tabcontent" id="debian" style="display:block;"><code>sudo apt update <span class="operators">&&</span> sudo apt install -y fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="centos"><code>sudo yum makecache <span class="operators">&&</span>  sudo yum install -y fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="arch"><code>sudo pacman -Sy <span class="operators">&&</span>  sudo pacman -S --noconfirm fuse2</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="tocopy tabcontent" id="fedora"><code>sudo dnf makecache <span class="operators">&&</span>  sudo dnf install -y fuse</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="txt"># Download Hypersomnia using the following command</span>
  <span class="tocopy"><code>wget https://hypersomnia.xyz/builds/latest/Hypersomnia.AppImage</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="txt"># Grant execution permission to the file</span>
  <span class="tocopy"><code>chmod +x Hypersomnia.AppImage</code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
  <span class="txt"># Run the dedicated server in the background</span>
  <span class="tocopy"><code>nohup ./Hypersomnia.AppImage --dedicated-server --no-router --daily-autoupdate <span class="operators">></span> /dev/null <span class="operators">2>&1 &</span></code><button class="copy"><i class="fa-solid fa-copy"></i></button></span>
</div>
<p>Remove "--no-router" if you're hosting on your PC rather than a proper VPN.</p>
<p>To be able to manage your server, remember to set a master_rcon_password in ~/.config/Hypersomnia/user/config.force.lua - see default_config.lua for reference. Open your game client. Setup your RCON password in Settings -> Client. Then, press F8 when you're on your server to open the administration panel.</p>
<p>"--daily-autoupdate" flag causes the server to <b>update itself</b> every 24 hours at 03:00 AM (your local time), if newer game version is available. This flag is highly recommended so you don't have to keep up with frequent game updates (the game is in active development). You can also set the flag in RCON settings (press F8 and go to Vars tab).</p>

{% include 'overall_footer.twig' %}
