{% include 'overall_header.twig' %}

<h2>Server List</h2>
<div class="table-responsive">
  <table id="firearms" class="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Game Mode</th>
        <th>Players</th>
        <th>Spectators</th>
        <th>Arena</th>
        <th>First appeared</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% if servers == false %}
      <tr>
        <td colspan="7">No response from master server</td>
      </tr>
      {% else %}
      {% for i in servers %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.game_mode }}</td>
        <td data-sort="{{ i.num_playing }}">{{ i.num_playing }}/{{ i.slots }}</td>
        <td data-sort="{{ i.num_spectating }}">{{ i.num_spectating }}/{{ i.slots }}</td>
        <td>{{ i.arena }}</td>
        <td data-sort="{{ i.time_hosted }}">{{ i.time_hosted_ago }}</td>
        <td><a href="{{ url }}servers/{{ i.ip }}">{{ i.ip }}</a</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<h2>Host Dedicated Server</h2>
<div class="tab">
  <button class="tablinks active" onclick="openTab(event, 'ubuntu_debian')"><i class="fa-brands fa-ubuntu"></i> Ubuntu/Debian</button>
  <button class="tablinks" onclick="openTab(event, 'centos')"><i class="fab fa-centos"></i> CentOS</button>
</div>

<div id="ubuntu_debian" class="tabcontent" style="display: block;">
<pre>sudo apt update
sudo apt -y install fuse
wget https://hypersomnia.xyz/builds/latest/Hypersomnia.AppImage
chmod +x Hypersomnia.AppImage
nohup ./Hypersomnia.AppImage --dedicated-server --no-router > /dev/null 2>&1 &</pre>
</div>

<div id="centos" class="tabcontent">
<pre>sudo yum makecache
sudo yum -y install fuse
wget https://hypersomnia.xyz/builds/latest/Hypersomnia.AppImage
chmod +x Hypersomnia.AppImage
nohup ./Hypersomnia.AppImage --dedicated-server --no-router > /dev/null 2>&1 &</pre>
</div>

<p>Remove "--no-router" if you're hosting on your PC rather than a proper VPN.</p>
<p>To be able to manage your server, remember to set a master_rcon_password in ~/.config/Hypersomnia/user/config.force.lua - see default_config.lua for reference.</p>

{% include 'overall_footer.twig' %}
