{% include 'overall_header.twig' %}

<h1>Statistics</h1>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        {% for d in days %}
        <th>{{ d }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% if statistics == false %}
      <tr>
        <td class="error">Failed to retrieve statistics.</td>
      </tr>
      {% else %}
      <tr>
        <td>Unique Visitors</td>
        {% for s in statistics %}
        <td>{{ s.unique_visitors }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>GitHub Stars</td>
        {% for s in statistics %}
        <td>{{ s.github_stars }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>GitHub Forks</td>
        {% for s in statistics %}
        <td>{{ s.github_forks }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>YouTube Views</td>
        {% for s in statistics %}
        <td>{{ s.youtube_views }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>YouTube Subscribers</td>
        {% for s in statistics %}
        <td>{{ s.youtube_subscribers }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>Hypersomnia Arenas</td>
        {% for s in statistics %}
        <td>{{ s.hypersomnia_arenas }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>Hypersomnia Servers</td>
        {% for s in statistics %}
        <td>{{ s.hypersomnia_servers }}</td>
        {% endfor %}
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% include 'overall_footer.twig' %}
